sudo: false
dist: trusty
language: go
go:
  - "1.11.x"
env:
  - GO111MODULE=on
    GOFLAGS=-mod=vendor
install:
  - make tools
script:
  - make

# calls goreleaser
deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux  # Ensure deploy only ever runs once.

notifications:
  email: true